@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

#baggrund-projekter {
  min-height: 100vh;
  background: linear-gradient(
    to right,
    #0d0d0d 0%,
    #0d0d0d 50%,
    #f2f2f2 50%,
    #f2f2f2 100%
  );
}

#baggrund-tekst {
  background: #0d0d0d;
  opacity: 87%;
  /* margin-left: 15%;
  margin-right: 15%; */
}

.h1-projekter {
  display: flex;
  color: #8c7d61;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 300%;
  padding-top: 1%;
}

.h3-start {
  font-family: "Poppins", sans-serif;
  padding-top: 1%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 2%;
  color: #8c7d61;
}
p {
  font-family: "Poppins", sans-serif;
}
.h3-projekter {
  font-family: "Poppins", sans-serif;
  border-bottom: #0d0d0d solid 2px;
}

.projekter {
  padding-top: 5%;
  padding-bottom: 5%;
  color: #0d0d0d;
}

#grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  row-gap: 4em;
  column-gap: 4em;
}

.img-projekter {
  max-width: 100%;
  max-height: 100%;
  padding-top: 10%;
}

.a-projekter {
  font-family: "Poppins", sans-serif;
  /* text-decoration: none; */
  line-height: 2em;
  color: #8c7d61;
}

@media (max-width: 800px) {
  .h3-projekter {
    font-size: 0.9rem;
  }
  .h1-projekter {
    font-size: 2rem;
  }
  .h3-start {
    font-size: 0.9rem;
  }
  .a-projekter {
    font-size: 0.8rem;
  }
}
